# Toronto Project - Data Science Capstone - Ryan Owens

## Import all necessary packages

In [1]:
!pip install lxml
#!pip install geocoder

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/ec/be/5ab8abdd8663c0386ec2dd595a5bc0e23330a0549b8a91e32f38c20845b6/lxml-4.4.1-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
     |████████████████████████████████| 5.8MB 2.9MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.4.1

In [2]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

print('Libraries imported.')

Libraries imported.

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim 
print('GeoPy Installed!')

In [ ]:
#!conda install -c conda-forge folium=0.5.0 --yes 
#print('Folium Installed!')

## Scrape the Web for Toronto Postal Codes

In [5]:
url = 'http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

WikiDf = pd.read_html(url)

Create a Dataframe from the Wikipedia Table

In [6]:
df = WikiDf[0]

Check the Dataframe columns and data.

In [7]:
print(df.head(5))

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

---
## Drop all "Not assigned" Boroughs

### Check Shape before Drop

In [8]:
df.shape

(288, 3)

---
### Drop code for all "Not Assigned' Boroughs

In [9]:
x = 0
for i in df['Borough']:
    if  i == 'Not assigned':
        df.drop([x], inplace = True)
    x = x +1

Check Shape to confirm "Not Assigned" Boroughs dropped.

In [10]:
df.shape

(211, 3)

Check Data to confirm Boroughs assigned.

In [11]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

---
## If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [12]:
x = 0
for i in df['Neighbourhood']:
    if  i == 'Not assigned':
        df.iloc[x, 2] = df.iloc[x, 1]
    x = x +1

---
## Where multiple neighborhoods exist in one postal code, combine into one row with the neighborhoods separated with a comma.

In [13]:
df1 = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(lambda x: "%s" % ', '.join(x)).reset_index()

Confirm code success by checking dataframe.

In [14]:
df1.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

---
## Check Shape of finalized Dataframe

In [15]:
df1.shape

(103, 3)

In [16]:
df1.to_csv('Toronto_Project_Part_1_Frame.csv')